<!DOCTYPE html>
<html>
  <body>
    <head>
       <meta charset="utf-8"></meta>   
       <link rel="stylesheet" href="/style/main.css">
    </head>

    <body>
       <div id="navBar">
        <a href="#" onclick="openOrCloseMenu()">
          <div id="navBarButton">
            <div id="firstNavBarButtonBar" class="navBarButtonBar"></div>
            <div class="navBarButtonBar"></div>
            <div class="navBarButtonBar"></div>
          </div>
        </a>
       </div>
       <div id="navBarMenu">
          <div id="navBarMenuCenterWrapper">
            <a href="home.html">
              <div class="homeLink">Menu principal</div>
            </a>
            <a href="login.html">
              <div class="homeLink">Déconnexion</div>
            </a>
          </div>

       </div>
        <div style="margin-top: 7%; margin-left: 7%;">
           <input id="user" placeholder="Votre adresse mail" type="text">
           <button onclick="login()">Me connecter</button>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/main.js"></script>
  </body>
</html>